.map .container {
  width: 100%;
  max-width: 1353px;
  padding: 10 20px;
  margin: 0 auto;
}

/* =============== */
/* title container */
/* =============== */
.title {
  text-align: center;
  padding: 50px 20px; /* padding kiri dan kanan */
  background-image: url("https://fore.coffee/wp-content/uploads/2023/08/bg-store-title.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #1e463b;
  position: relative;
  z-index: 1;
}

.title span {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 90px;
  font-weight: 800;
  letter-spacing: -2.7px;
  position: relative;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container .card {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  width: 270px;
  max-width: 100%;
  height: 230px;
  background-color: #bed1cc;
  border-radius: 12px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}

.container .card:hover {
  height: 320px;
}

.container .card .img-box {
  position: relative;
  margin-left: 25px;
  top: 20px;
  width: 220px;
  height: 150px;
  background: #000000;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .img-box {
  top: -40px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: 175px;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .content {
  top: 120px;
  height: 250px;
}

.container .card .content h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #1e463b;
  padding: 10px 0;
}

.container .card .content p {
  color: #1e463b;
  font-size: 15px;
}

.container .card .content a {
  position: relative;
  top: 12px;
  display: inline-block;
  padding: 7px 15px;
  text-decoration: none;
  background: #1e463b;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.container .card .content a:hover {
  opacity: 0.8;
  background: #37a77d;
  color: whitesmoke;
}

@media (max-width: 480px) {
  .container .card {
    width: 270px;
    border-radius: 15px;
    margin-right: 20px;
  }

  .container .card .img-box {
    width: 220px;
    border-radius: 10px;
  }

  .container .card .content p {
    font-size: 0.8rem;
  }

  .container .card .content a {
    font-size: 0.9rem;
  }
}
@media (max-width: 610px) {
  .title {
    padding: 80px 10px; /* padding kiri dan kanan */
  }

  .title span {
    font-size: 55px;
  }
}
